@model sales_web_mvc.Models.Seller

@{
    ViewData["Title"] = "Detalhes";
}

<br />

<div class="alert alert-danger" role="alert">
    Deseja excluir o vendedor @Html.DisplayFor(model => model.Name)?
</div>
<h3>@ViewData["Title"]</h3>
<hr />
<div>
    <dl>
        <dt>Nome</dt>
        <dd>@Html.DisplayFor(model => model.Name)</dd>
        <dt>Email</dt>
        <dd>@Html.DisplayFor(model => model.Email)</dd>
        <dt>Salário</dt>
        <dd>@Html.DisplayFor(model => model.BaseSalary)</dd>
        <dt>Data de Nascimento</dt>
        <dd>@Html.DisplayFor(model => model.BirthDate)</dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a class="btn btn-primary" asp-action="Index">Cancelar</a>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}