@model sales_web_mvc.Models.Seller

@{
    ViewData["Title"] = "Detalhes";
}

<br />

<h3>@ViewData["Title"]</h3>
<hr />
<div>
    <dl>
        <dt>Nome</dt>
        <dd>@Html.DisplayFor(model => model.Name)</dd>
        <dt>Email</dt>
        <dd>@Html.DisplayFor(model => model.Email)</dd>
        <dt>Salário</dt>
        <dd>@Html.DisplayFor(model => model.BaseSalary)</dd>
        <dt>Data de Nascimento</dt>
        <dd>@Html.DisplayFor(model => model.BirthDate)</dd>
        <dt>Departamento</dt>
        <dd>@Html.DisplayFor(model => model.Department.Name)</dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
    <a class="btn btn-primary" asp-action="Index">Voltar</a>
</div>