@model IEnumerable<sales_web_mvc.Models.Department>

@{
    ViewData["Title"] = "Departments";
}

<br />
<h3>Departamentos</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome do Departamento</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>
                    <a asp-action="Edit" asp-route-Id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-Id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-Id="@item.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<hr />
<p>
    <a class="btn btn-secondary" asp-action="Create">Novo Departamento</a>
</p>