@model IEnumerable<sales_web_mvc.Models.Department>

@{
    ViewData["Title"] = "Departments";
}

<h3>Departamentos</h3>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new {}) |
                    @Html.ActionLink("Detalhes", "Details", new {}) |
                    @Html.ActionLink("Excluir", "Delete", new {})
                </td>
            </tr>
        }
    </tbody>
</table>